@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .cont{
    @apply rounded-xl
  }
}

@font-face{
  font-family: 'GILROY';
  src: url('../public/assets/fonts/gilroy/Gilroy-Medium.ttf');
}

@font-face{
  font-family :'GILROY-BOLD';
  src: url('../public/assets/fonts/gilroy/Gilroy-Bold.ttf');
}