@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .cont{
    @apply rounded-xl
  }

  .highlight{
    @apply text-purple-800 underline
  }
}

@font-face{
  font-family: 'GILROY';
  src: url('../public/assets/fonts/gilroy/Gilroy-Medium.ttf');
}

@font-face{
  font-family :'GILROY-BOLD';
  src: url('../public/assets/fonts/gilroy/Gilroy-Bold.ttf');
}

@layer components{
  .tag{
    @apply border border-black px-2 py-1 rounded-full w-fit
  }
}